.object__btn {
    border-radius: 7px;
    font-weight: bold;
    background-color: $brown;
    color: white;
    width: 100%;
    padding: 15% 10%;
    font-size: 1.2rem;
    border: 0;
    &:hover, &:focus {
        background-color: white;
        color: black;
    }
}

