.modal {
    &__root {
        @include flexCnt;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__cnt {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 60%;
        height: 80%;
        overflow: auto;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px 5px $background-authors;
        //Just for loader
        &--loader {
            height: 20%;
        }
        &__close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    &__loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 5rem;
        height: 5rem;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
