.add__btn {
    border-radius: 15px;
    font-weight: bold;
    background-color: $cream;
    padding: 3% 10%;
    width: 40%;
    border: 0.0625rem solid $cream;
    font-size: 1.2rem;
    &:hover, &:focus {
        background-color: black;
        color: white;
    }
}

.add__btn--mod {
    background-color: $background-authors;
    &:hover, &:focus {
        background-color: $brown;
        color: white;
    }
}