.go-back {
    &__root {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__btn {
        display: flex;
        justify-content: center;
        text-decoration:none;
        color: black;
        width: 25%;
        margin-top: 35%;
    }
}