.form {
    &__root {
        width: 80%;
        padding-left: 5%;
    }
    &__author__cnt {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__books {
        &__root {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__cnt {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__input {
        margin: 3% 0;
        border-radius: 0.2rem;
        padding: 2%;
        width: 50%;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    &__btn {
        background-color: $background-authors; 
        border: none;
        color: black;
        font-weight: bold;
        margin: 3% 0;
        border-radius: 0.2rem;
        padding: 2%;
        word-wrap: break-word;
        width: 6rem;
        max-width: 100%;
        cursor: pointer;
        &:hover {
            background-color: black;
        color: white;
        }
        &--remove {
            margin: 3%;
            
        }
    }
}
