.object {
    &__info {
        &__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            &--li {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                height: 100%;
            }
            &--item {
                margin: 2%;
                width: 20%;
                height: 20%;
            }
        }
    }
}