//Root for authors
.books {
    &__root {
        display: flex;
        justify-content: center;
        background-color: black;
        width: 100%;
        height: 100vh;
    }

    &__title {
        color: white;
        font-size: 3rem;
    }

    &__breakpoints {
        @include flexCnt;
        width: 50%;
        height: 4rem;
        padding: 2%;
        margin: 3%;
        background-color: $brown;
        color: white;
        font-weight: bold;

        &:hover {
            box-shadow: 0.5rem 0.5rem $background-authors, -0.5rem -0.5rem $background-authors;
        }
    }

    &__info {
        &__btns {
            display: flex;
            flex-direction: column;
            margin-top: 3%;
            align-items: center;
            width: 80%;
            border-bottom: 1px solid;
        }
    }
}
