.authors {
    &__info {
        &__root {
            @include flexCnt;
            width: 80%;
            max-height: inherit;
            margin: 3%;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
            background-color: black;
            &:hover, &:focus {
                box-shadow: 0.5rem 0.5rem $brown, -0.5rem -0.5rem $brown;    
            }
        }
        &__cnt {
            width: 50%;
            color: white;
        }
        &__cnt--flex {
            @include flexCnt;
            text-align: center;
            padding: 2%;
        }
    }
}

