//Root for authors
.authors {
    &__root {
     display: flex;
     justify-content: center;
      background-color: $background-authors;
      width: 100%;
      height: 100vh;
    }
  
    &__title {
      color: white;
      font-size: 3rem;
    }
  
    &__breakpoints {
      @include flexCnt;
      width: 50%;
      height: 4rem;
      padding: 2%;
      margin: 3%;
      background-color: $brown;
      color: white;
      font-weight: bold;
  
      &:hover {
        box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem black;
      }
    }
  
    &__info {
      &__btns {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        align-items: center;
        width: 80%;
        border-bottom: 1px solid;
      }
  
      &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        &--li {
            display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 100%;
        }
        &--item {
          margin: 2%;
          width: 20%;
          height: 20%;
        }
      }
    }
}  