.signup {
    &__root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__info__cnt {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    &__books {
        &__root {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__cnt {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__input {
        margin: 3% 0;
        border-radius: 0.2rem;
        padding: 2%;
        width: 80%;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 1.4rem;
    }
    &__submit {
        display: flex;
        width: 80%;
        &__btn {
            background-color: $background-authors; 
            border: none;
            color: black;
            font-weight: bold;
            margin: 3% 0;
            border-radius: 0.2rem;
            padding: 2%;
            word-wrap: break-word;
            width: 80%;
            max-width: 100%;
            cursor: pointer;
            &:hover {
                background-color: black;
            color: white;
            }
            &--remove {
                margin: 3%;
                
            }
        }
    }
    
}
