.delete__btn {
    background-color: #4b1223;
    color: white;
    text-decoration: none;
    width: 80%;
    margin-top: 25%;
    padding: 1rem;
    &:hover {
        background-color: $brown;
    }
}