.filter {
    &__root {
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 3%;
    }
    &__inp {
        border-radius: 0.5rem;
        width: 100%;
        background-color: white;
        border: 0;
        outline: none;
        padding: 2%;
        font-size: 1rem;
        &:focus, &:active {
            outline: 1px solid $brown;
        }
        
    }
}