//General styles for the app
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {  
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

body {
  background-color: white;
  overflow: hidden;
}

#root {
  height: 100%;
}

//App
.main__root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.nav {
  &__root {
    width: 100%;
    height: 12vh;
    display: flex; 
  }
  &__links {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 5%;
    color: white;
    background-color: $brown;
    padding: 5% 10%;
    border-radius: 10px;
    &:hover {
      background-color: $background-authors;
      color: black;
    }
    
  }
  &__cnt {
    position: absolute;
    width: 100%;
    height: 12vh;
    z-index: 3;
    &__links {
      height: 12vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      & li {
        width: 25%;
      }
    }
  }
}

.info {
  &__cnt {
    display: flex;

    &-side {
      width: 50%;
      height: 95vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      position: relative;
      &__text {
        color: white;
        font-size: 5rem;
      }
    }

    &-left {
      border-radius: 4px;
      background: $background-authors;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
      transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
      padding: 14px 80px 18px 36px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
      }
    }

    &-right {
      border-radius: 4px;
      background: black;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
      transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
      padding: 14px 80px 18px 36px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
      }
    }
  }
}

